@tailwind base;
@tailwind components;
@tailwind utilities;
img{
    user-select: none;
}
.box{
    box-sizing: border-box;
}
/* body{
    overflow: hidden;
} */
 
.orange{
    color: hsl(26, 100%, 55%);

}
.bg-orange{
    background-color: hsl(26, 100%, 55%);

}
.pale{
    background-color: hsl(25, 100%, 94%) ;
}
.very_vark_blue{
    color: hsl(220, 13%, 13%) ;
}
.Dark_grayish_blue{
    color: hsl(219, 9%, 45%);
}
.grayish_blue{
    color:  hsl(220, 14%, 75%);
}
.Light_grayish_blue{
    color: hsl(223, 64%, 98%);
}
.white{
    color: #fff;
}
.black{
    color:rgba(0, 0, 0,.6);
}
.scrolls::-webkit-scrollbar-button{
    display: none;

}
.scrolls::-webkit-scrollbar{
    width: 3px;
}
.scrolls::-webkit-scrollbar-thumb{
    background-color: hsl(26, 100%, 55%);
    border-radius: 9999px;
}
.scrolls::-webkit-scrollbar-track{
    background-color: transparent;
}


